$myFirstColor:  #6A1B9A;
$mySecondColor:#C158DC;

.btn-outline-purple {
    border: 2px solid $mySecondColor !important;
    background-color: transparent!important;
    color: $mySecondColor!important;
}

.btn-outline-purple:hover, .active {
    background-color: $mySecondColor!important;
    color: #fff!important;
    border: none !important;
}

.intitule{
    border-radius: 5px;
    background-color: $myFirstColor;
   

}
.intitule h4{
    color: white;
}

.header{
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #e0e4e8;
}

.content{
  margin: 40px;
}


@media all and (min-width: 768px) {
    tr  {
      td {
        vertical-align: middle !important;
      }
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }