<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div   class="sidebar">
        <h2 *ngIf="isAuthenticated()">{{gestionnaire?.prenom}} {{gestionnaire?.nom}}</h2>
        <ul *ngIf="isAuthenticated()">  
            <li *ngFor="let t of typeGroupes | keyvalue ">
                <a [routerLink]="['/unitesType', t.key]" (click)="getUnite(t)">{{t.key}}</a>
            </li>
            <li class="nav-item">
              <a  routerLink="/login" class="nav-link">Log Out</a>
            </li>
           
          <!--   <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>portfolio</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li> 
            -->
        </ul> 
    </div>
    <div class="main_content">
        <div class="header">
        <h3 class="text-secondary text-center text-uppercase font-weight-bold">{{intitule}}</h3>
       
        </div>  
        <div class="content">

          <app-login *ngIf="!isAuthenticated()"></app-login>

            <div *ngIf="!isClick" class="card-columns">
                <div *ngFor="let u of unitesTarget" class="card bg-secondary">
                  <div class="card-body text-center">
                  <p class="card-text"><a class="text-white" (click)="onAxes(u)">{{u.intitule}}</a></p>  
                  </div>
                </div>
            </div>
           
            <app-axe *ngIf="isClick" [gestionnaire]="gestionnaire" [unite]="currentUnite"></app-axe>
                 
        </div>
          </div>
        </div>

