<h2 style="color: #e040fb ;font-weight: bold;" >{{unite.intitule}}</h2>
<ul class="nav justify-content-center">
    <li *ngFor="let axe of unite?.axeStrategiques; let i = index" class="nav-item">
        <button (click)="getAxe(axe)" [ngClass]="axe==currentAxe?'active':'btn-outline-purple'" type="button" mdbBtn outline="true" mdbWavesEffect mdbBtn >Axe {{i+1}}</button>
    </li>
    <li><button type="button" mdbBtn outline="true" mdbWavesEffect color="purple"
        data-toggle="modal" data-target="#basicExample" (click)="frame.show()">Ajouter<mdb-icon fas icon="plus-circle" class="ml-2" aria-hidden="true"></mdb-icon></button>
    </li>
</ul>
<div *ngIf="currentAxe" class="container">
    <div class="w-responsive text-center mx-auto  intitule">
        <h4 class="p-1 m-3">{{currentAxe?.intitule}}</h4>
     </div>
 

      <mdb-card class="w-responsive mx-auto" borderColor="border-secondary">
        <mdb-card-header style="box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background: linear-gradient(40deg, #ff6ec4, #7873f5) !important; color: #fff !important;" 
         >Description:</mdb-card-header>
        <mdb-card-body>
          <mdb-card-text class="purple-text">{{currentAxe?.description}}</mdb-card-text>
        </mdb-card-body>
      </mdb-card>
 

 
      
      <button type="button"  class="btn btn-sm rounded-circle" style="background-color: #6A1B9A;color: #fff; display: inline;">Objectifs</button>
       <p class="my-4 text-secondary">Taux d'avancement :</p> 
       <div class="progress">
           <div class="progress-bar"  role="progressbar" [style.width.%]="currentAxe?.tauxAvancement" style="background-color: #6A1B9A;font-weight: bold;"
               aria-valuenow="'currentAxe?.tauxAvancement'" aria-valuemin="0" aria-valuemax="100">{{currentAxe?.tauxAvancement |number:'2.0-0'}}%</div>
       </div>
       
      
       <div class="date my-4">
           <div>
               <span>Date début prévisionnel:      {{currentAxe?.dateDebutPrevisionnel}}</span>
               <span>Date début réel:     05/04/2020 {{currentAxe?.dateDebutReel}}</span>
           </div>
           <div>
             <span>Date fin prévisionnel:      05/04/2020{{currentAxe?.dateFinPrevisionnel}}</span>
             <span>Date fin réel:       05/04/2020{{currentAxe?.dateFinReel}}</span>
           </div>
       </div>
</div>

                              <!--******  Modal of Add a Taxe ***** !-->



<form (ngSubmit)="onSaveAxe()" mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form34" class="form-control" mdbInput mdbValidate name="intitule"  [(ngModel)]="axe.intitule" required>
          <label for="form34">Intitulé: </label>
         
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form32" class="form-control" mdbInput mdbValidate name="tauxAvancement" [(ngModel)]="axe.tauxAvancement">
          <label for="form32">Taux d'avancement</label>
        </div>
        <div class="md-form mb-5">
            <mdb-icon far icon="calendar-alt" class="prefix grey-text"></mdb-icon>
          <input type="date" id="form1" class="form-control" mdbInput mdbValidate name="dateDebutPrevisionnel" [(ngModel)]="axe.dateDebutPrevisionnel">
          <label for="form1">Date de début prévisionnelle: </label>
        </div>
        <div class="md-form mb-5">
            <mdb-icon far icon="calendar-alt" class="prefix grey-text"></mdb-icon>
          <input type="date" id="form2" class="form-control" mdbInput mdbValidate name="dateDebutReel" [(ngModel)]="axe.dateDebutReel">
          <label for="form2">Date de début réelle: </label>
        </div>
        <div class="md-form mb-5">
            <mdb-icon far icon="calendar-alt" class="prefix grey-text"></mdb-icon>
          <input type="date" id="form3" class="form-control" mdbInput mdbValidate name="dateFinPrevisionnel" [(ngModel)]="axe.dateFinPrevisionnel" >
          <label for="form3">Date de fin prévisionnelle: </label>
        </div>
        <div class="md-form mb-5">
            <mdb-icon far icon="calendar-alt" class="prefix purple-text"></mdb-icon>
          <input type="date" id="form4" class="form-control" mdbInput mdbValidate name="dateFinReel" [(ngModel)]="axe.dateFinReel">
          <label for="form4">Date de fin réelle: </label>
        </div>

        <div class="md-form">
          <mdb-icon fas icon="pencil-alt" class="prefix grey-text"></mdb-icon>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput mdbValidate
                name="description"    [(ngModel)]="axe.description" required></textarea>
          <label for="form8">Déscription</label>
          
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="submit" mdbBtn color="unique"  (click)="frame.hide()" class="waves-light" mdbWavesEffect>Send
          <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
</form>

                          <!-- End Modal -->